<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9axxwCez4ftF5O4wnt1puW0r2PmBrtvI</string>
	<key>GCM_SENDER_ID</key>
	<string>775060165786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iitb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iitb-f5d09</string>
	<key>STORAGE_BUCKET</key>
	<string>iitb-f5d09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775060165786:ios:52479384869d4808f07b23</string>
</dict>
</plist>